/* src/components/Messages/VirtualMessageList.css */

.virtual-message-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.virtual-message-list-inner {
  position: relative;
}

.virtual-message-item {
  position: absolute;
  left: 0;
  right: 0;
}